<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Items Table</title>
</head>
<body>


    <h1>Items</h1>

    <!-- Show cache connection status -->
    <p class="status {% if redis_connected %}status-success{% else %}status-failed{% endif %}">
        Cache Connection: {% if redis_connected %}Connected{% else %}Failed to connect{% endif %}
    </p>

    <!-- Show database connection status -->
    <p class="status {% if db_connected %}status-success{% else %}status-failed{% endif %}">
        Database Connection: {% if db_connected %}Connected{% else %}Failed to connect{% endif %}
    </p>


        <p>Total Items: {{ item_count }}</p>  <!-- Display the count of items -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h1>Container IP</h1>
        <div id="ip-address">
            Fetching IP...
        </div>

        <script>
            // Fetch the container's IP address
            fetch('/get_ip')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();  // Parse JSON response
                })
                .then(data => {
                    // Display the IP address
                    if (data.ip) {
                        document.getElementById('ip-address').textContent = `IP: ${data.ip}`;
                    } else if (data.error) {
                        document.getElementById('ip-address').textContent = `Error: ${data.error}`;
                    }
                })
                .catch(error => {
                    // Handle any errors in fetching the IP
                    console.error('There was a problem with the fetch operation:', error);
                    document.getElementById('ip-address').textContent = 'Error fetching IP';
                });
        </script>
</body>
</html>

